.build
.DS_Store
.idea
.vscode
.swiftpm
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcshareddata/xcschemes/StarDotsSDK.xcscheme
.swiftpm/xcode/package.xcworkspace/xcshareddata/xcschemes/StarDotsSDK.xcscheme